In [6]:
import pandas as pd

In [5]:
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame({'course_name':["Data Science", "Machine Learning", "Big Data", "Data Engineer"],'duration':[2,3,6,4]} )

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

#ans. loc is a label-based referencing function, which means that you use the labels of rows and columns to select the data. You can use loc to select rows and columns based on their labels or boolean arrays. For example, df.loc[3] selects the row with the label '3', while df.loc[:, 'A'] selects all rows of the 'A' column.

iloc, on the other hand, is an integer-based referencing function, which means that you use the integer position of rows and columns to select the data. You can use iloc to select rows and columns based on their integer position or boolean arrays. For example, df.iloc[3] selects the fourth row, while df.iloc[:, 0] selects all rows of the first column.

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['a', 'b', 'c'])

# using loc to select rows and columns based on labels
print(df.loc['a':'b', 'A':'B'])

# using iloc to select rows and columns based on integer position
print(df.iloc[0:2, 0:2])
In the above example, df.loc['a':'b', 'A':'B'] selects rows 'a' and 'b', and columns 'A' and 'B' using labels, while df.iloc[0:2, 0:2] selects the first two rows and columns using integer position.

In [7]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [8]:
new_df = df.reindex([3, 0, 1,2])

In [9]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [10]:
df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [11]:
import pandas as pd

In [12]:
import numpy as np

In [13]:
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [14]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.356226  0.780998  0.544191  0.290202  0.301205  0.339245
2  0.383741  0.518949  0.601170  0.024861  0.124817  0.285693
3  0.045475  0.655756  0.651447  0.338374  0.049428  0.764821
4  0.093578  0.057334  0.482250  0.713423  0.729485  0.349088
5  0.558376  0.220979  0.440144  0.952520  0.288900  0.493039
6  0.836359  0.927653  0.560501  0.863033  0.655362  0.381398

In [15]:
df1.mean()

column_1    0.378959
column_2    0.526945
column_3    0.546617
column_4    0.530402
column_5    0.358199
column_6    0.435547
dtype: float64

df1['column_1']

In [16]:
df1['column_1'].mean()

0.37895932671772553

In [17]:
df1['column_2'].std()

0.3334412828160564

In [18]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.356226  0.780998  0.544191  0.290202  0.301205  0.339245
2  0.383741  0.518949  0.601170  0.024861  0.124817  0.285693
3  0.045475  0.655756  0.651447  0.338374  0.049428  0.764821
4  0.093578  0.057334  0.482250  0.713423  0.729485  0.349088
5  0.558376  0.220979  0.440144  0.952520  0.288900  0.493039
6  0.836359  0.927653  0.560501  0.863033  0.655362  0.381398

In [19]:
df1.iloc[1,1] = 'sunil'

In [20]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.356226  0.780998  0.544191  0.290202  0.301205  0.339245
2  0.383741     sunil  0.601170  0.024861  0.124817  0.285693
3  0.045475  0.655756  0.651447  0.338374  0.049428  0.764821
4  0.093578  0.057334  0.482250  0.713423  0.729485  0.349088
5  0.558376  0.220979  0.440144  0.952520  0.288900  0.493039
6  0.836359  0.927653  0.560501  0.863033  0.655362  0.381398

#Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

ans. In Pandas, a window function is a way to perform calculations over a specified window or subset of a larger dataset. Window functions are useful for calculating rolling statistics, moving averages, cumulative sums, and other similar calculations.

There are several types of window functions available in Pandas, including:

Rolling window functions: These functions compute metrics over a rolling window, which is a fixed-size subset of the data. The window moves along the data and the function is applied to each subset of the data. Examples include rolling mean, rolling sum, rolling median, rolling standard deviation, etc.

Expanding window functions: These functions compute metrics over an expanding window, which is a subset of the data that starts from the beginning of the data and grows as more data is added. The function is applied to each subset of the data. Examples include expanding mean, expanding sum, etc.

Cumulative window functions: These functions compute metrics cumulatively over the entire dataset, without any window size. Examples include cumulative sum, cumulative max, cumulative min, etc.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [21]:
##
# create a timestamp with the current date and time
now = pd.Timestamp.now()

# extract the month and year from the timestamp
month = now.month
year = now.year

# print the current month and year
print("Current month and year:", month, "/", year)

Current month and year: 3 / 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
#
# Prompt the user to enter the first date
date1 = input("Enter the first date (YYYY-MM-DD): ")

# Prompt the user to enter the second date
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the dates to pandas datetime format
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference between the dates
time_diff = date2 - date1

# Extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

# Print the result
print(f"The difference between {date1.date()} and {date2.date()} is {days} days, {hours} hours, and {minutes} minutes.")

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [8]:
data = { 'Student_id' : [1,2,3,4,5,6,7,8,9,10], 'Test_score':[85, 90, 80, 75, 85, 82, 78, 85, 90, 85]}

In [18]:
df = pd.DataFrame(data)

In [25]:
mean = df.loc[: , 'Test_score'].mean()

In [26]:
median = df.loc[:, "Test_score"].median()

In [38]:
mode = df.loc[:, 'Test_score'].mode().tolist()

In [39]:
print('+.....+...+')
print('| Statistic | Value |')
print(" +.....+...+")
print("f| mean | {mean}|")
print(f"|median | {median} | ")
print(F" | mode | {mode} | ")

+.....+...+
| Statistic | Value |
 +.....+...+
f| mean | {mean}|
|median | 85.0 |
 | mode | [85] |